.container-small-card-content{
    width: 70rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.small-card-picture img{
    width: 20rem;
    min-width: 20rem;
    margin-right: 2rem;
}

.small-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-small-card hr{
    margin-bottom: 1rem;
}